body {
  margin: 0;
  vertical-align: center;
  overflow: hidden;
  height:100%;
  width: 100%;
}

h1 {
  font-size: 1.2em;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-size: 1.0em;
  color: white;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 0.8em;
  color: black;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  justify-content:center;
}

button {
  color: white; 
  background-color: #ee2b82; 
  text-align: center;
  border: 0px; 
  padding-left: 25px;
  padding-right: 25px;
  padding-left: 15px;
  padding-left: 15px; 
  position: absolute; 
  top: 50px; 
  right: 50px; 
  font-size: 1.0em;
}

#container {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}

#arObject {
  margin: 20px auto;
  width: 100%;
  height: 100%;
  min-height: 300px;
  min-width: 300px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 10px;
  outline: 0;
  border: none;
  justify-content:center;
}

model-viewer {
  height: 100%;
  width: 100%;
}

model-viewer:focus {
  outline: 0;
  border: none;
}

/* BACKGROUND & ANIMATION */
html {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
/*  background: -moz-linear-gradient(top,  #2c3e50 0%, #bdc3c7 100%); 
  background: -webkit-linear-gradient(top,  #2c3e50 0%, #bdc3c7 100%);
  background: linear-gradient(top,  #2c3e50 0%, #bdc3c7 100%);*/
  margin: 0;
  /*overflow: hidden;*/